	
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<% if session[:usuario] %>

    Logado como <%= session[:usuario] %>
    <br>
<a class="btn btn-danger" href="/logout">logout</a>
<% end %>

    <br><br>
<strong>Usuarios</strong>
<br><br>



<% @usuarios.each do |u| %>

    <%= link_to u.username, usuario_path(u) %>

    

    <%= link_to "Editar", edit_usuario_path(u) %>



      <a href="usuarios/deletar/<%=u.id %>">Excluir </a>

    <br><br>

<% end %>

<%= link_to "cadastre-se", new_usuario_path %>
